<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708336296531-tf4gpc1p3pj6dsjs594kiv9ta35hkqhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708336296531-tf4gpc1p3pj6dsjs594kiv9ta35hkqhu</string>
	<key>API_KEY</key>
	<string>AIzaSyCJjgHrW_T6lfQaCvzkGN5LsgF2QPC1dDU</string>
	<key>GCM_SENDER_ID</key>
	<string>708336296531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fxGuru</string>
	<key>PROJECT_ID</key>
	<string>fx-guru</string>
	<key>STORAGE_BUCKET</key>
	<string>fx-guru.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708336296531:ios:4e03380f309946c3751ca6</string>
</dict>
</plist>